-
  const messages = [
    {
      type: "incoming",
      name: "Вениамин Редакторович",
      time: "8 минут назад",
      text: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
      avatar: "images/avatar_4.jpg"
    },
    {
      type: "outcoming",
      time: "5 минут назад",
      text: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
      avatar: "images/avatar_1.jpg"
    },
    {
      type: "incoming",
      name: "Вениамин Редакторович",
      time: "5 минут назад",
      text: "Лады",
      avatar: "images/avatar_4.jpg"
    },
    {
      type: "outcoming",
      time: "3 минут назад",
      text: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
      avatar: "images/avatar_1.jpg"
    },
    {
      type: "incoming",
      name: "Вениамин Редакторович",
      time: "Только что",
      text: "о_О",
      avatar: "images/avatar_4.jpg"
    }
  ]

mixin avatar(url, size = "50px")
  img.rounded-circle.ms-3.me-4(src= url, alt="avatar" width= size height= size)

mixin chat-input(id)
  form.border-top.mx-md-5(role="search" action="#" method="get")
    .input-group.align-items-center.ps-2.pe-md-2.py-md-1
      input.form-control.border-0.shadow-none.ps-4.ps-md-3.pe-0.py-0(type="search" placeholder="Напишите сообщение..." aria-label="Поиск")
      button.btn.btn-primary.chat-btn.rounded-circle.border-0.p-0.m-3(type="submit" id= id)
        svg.bi.bi-cursor.d-block.m-auto(xmlns="http://www.w3.org/2000/svg", fill="#fff" viewBox="0 0 16 16", width="16px")
          path(d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z")

doctype html
html.h-100(lang='ru')
  include ../includes/head.pug
  body.p-md-4.h-100
    .container-xxl.bg-white.h-100.overflow-hidden.rounded-md-4
      .row.h-100
        section.left.col-xxl-4.col-sm-12.col-md-4.h-100.p-0.d-flex.flex-md-column.flex-column-reverse
          include ../includes/chat-tab-header.pug
          .tab-content.left-content.h-100
            .tab-pane.fade.d-md-none.h-100(role="tabpanel" aria-labelledby="current-chat-tab" tabindex="0")#current-chat
              .d-flex.flex-column.h-100
                include ../includes/chat.pug
                +chat-input("1")
            .pt-5.px-4.tab-pane.fade(role="tabpanel" aria-labelledby="contacts-tab" tabindex="0")#contacts
              include ../includes/contacts.pug
            .pt-5.px-4.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="chats-tab" tabindex="0")#chats
              include ../includes/messages.pug
            .pt-5.px-4.tab-pane.fade(role="tabpanel" aria-labelledby="profile-tab" tabindex="0")#profile
              include ../includes/profile.pug
        section.right.col.d-none.d-md-flex.flex-column.p-0.h-100
          include ../includes/chat.pug
          +chat-input("1")
    script(src="js/bootstrap.min.js")