-
  const messages = [
    {
      type: "incoming",
      name: "Вениамин Редакторович",
      time: "8 минут назад",
      text: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
      avatar: "images/avatar_4.jpg"
    },
    {
      type: "outcoming",
      time: "5 минут назад",
      text: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
      avatar: "images/avatar_1.jpg"
    },
    {
      type: "incoming",
      name: "Вениамин Редакторович",
      time: "5 минут назад",
      text: "Лады",
      avatar: "images/avatar_4.jpg"
    },
    {
      type: "outcoming",
      time: "3 минут назад",
      text: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
      avatar: "images/avatar_1.jpg"
    },
    {
      type: "incoming",
      name: "Вениамин Редакторович",
      time: "Только что",
      text: "о_О",
      avatar: "images/avatar_4.jpg"
    }
  ]

mixin avatar(url, size = "50px")
  img.rounded-circle.ms-3.me-4(src= url, alt="avatar" width= size height= size)

mixin chat-input(id)
  form.border-top.mx-md-5(role="search" action="#" method="get")
    .input-group.align-items-center.ps-2.pe-md-2.py-md-1
      input.form-control.border-0.shadow-none.ps-4.ps-md-3.pe-0.py-0(type="search" placeholder="Напишите сообщение..." aria-label="Поиск")
      button.btn.btn-primary.chat-btn.rounded-circle.border-0.p-0.m-3(type="submit" id= id)
        svg.bi.bi-cursor.fs-4(xmlns="http://www.w3.org/2000/svg", fill="#fff" viewBox="0 0 16 16", width="16px")
          path(d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z")

doctype html
html.h-100(lang='ru')
  include ../includes/head.pug
  body.p-md-4.h-100
    .container-xxl.bg-white.h-100.overflow-hidden.rounded-md-4
      .row.h-100
        section.left.col-xxl-4.col-sm-12.col-md-4.h-100.p-0.d-flex.flex-md-column.flex-column-reverse
          include ../includes/chat-tab-header.pug
          .tab-content.left-content.h-100
            .px-4.tab-pane.d-md-none.h-100(role="tabpanel" aria-labelledby="current-chat-tab" tabindex="0")#current-chat
              .d-flex.flex-column.h-100
                include ../includes/chat.pug
                +chat-input("1")
            .pt-5.px-4.tab-pane(role="tabpanel" aria-labelledby="contacts-tab" tabindex="0")#contacts
              include ../includes/contacts.pug
            .pt-5.px-4.tab-pane.active(role="tabpanel" aria-labelledby="chats-tab" tabindex="0")#chats
              include ../includes/messages.pug
            .pt-5.px-4.tab-pane(role="tabpanel" aria-labelledby="profile-tab" tabindex="0")#profile
              include ../includes/profile.pug
        section.right.col.d-none.d-md-flex.flex-column.p-0.h-100
          include ../includes/chat.pug
          +chat-input("1")
    script(src="js/bootstrap.min.js")